[package]
authors = ["Marc Brinkmann <git@marcbrinkmann.de>"]
description = "Linux SocketCAN library. Send and receive CAN frames via CAN bus on Linux."
documentation = "https://docs.rs/socketcan"
license = "MIT"
name = "socketcan"
repository = "https://github.com/mbr/socketcan-rs"
version = "1.6.0"

[dependencies]
hex = "^0.2"
itertools = "^0.4"
libc = "^0.2"
nix = "^0.5"
try_from = "0.2.0"
