[package]
name = "tokio-socketcan"
version = "0.3.1"
authors = ["Terry Kerr <root@oefd.ca>"]
edition = "2018"
description = "Asynchronous Linux SocketCAN sockets with tokio"
license = "MIT"
repository = "https://github.com/oefd/tokio-socketcan"

[dependencies]
# socketcan = "1.7"
socketcan = { path = "../socketcan-rs", version = "2.0", default-features = false }
embedded-hal = "1.0.0-alpha.8"
futures = "0.3"
mio = { version = "0.8", features = ["os-ext"] }
libc = "0.2"
thiserror = "1.0"
tokio = { version = "1", features = ["net"] }

[dev-dependencies]
futures-timer = "3.0"
futures-util = "0.3"

[dev-dependencies.tokio]
version = "1"
# required for tokio::test
features = ["macros", "rt-multi-thread"]
